/* Untuk Tablets */

/* Tambahkan breakpoint max-width: 1000px */
@media ( max-width: 1000px) {
    /* Tambahkan CSS untuk lesson */
    .contents-item {
      width:50%;
      margin-bottom:40px;
    }

    .main-footer li{
      font-size:10px;
    }
    
    .logo {
      float:left;
      padding-left:30px;
      padding-right:20px;  
    }
    
    .tombol {
      padding:10px 10px;
    }

    .main-title {
      text-align: center;
      width: relative;
      height: auto;  
    }  

    .main-title p {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }

    .main-footer {
        width: 100%;
        height: relative;
        background-color:white;
        padding-top: 15px;
        text-align: left;
    }
  }
  

/* For Smartphones */

@media (max-width: 670px) {
    
    .main-content {
        width: 100%;
    }
    
    .main-header {
        padding-top:60px;
    }
    
    header {
        width:100%;
        position:fixed;
    }
    
    .tombol {
        display:none;
    }
  
    footer {
        width: 100%;
        text-align: center;
    }
    
    footer p {
        font-size:8px;
    }
    
    .btn {
        width: 100%;
        display:none;
    }

    .main-title {
        text-align: center;
        width: relative;
        height: auto;  
    }  
    
    .nav-bar {
        display: none;
      }
    
    span.menu-icon {
        display: block;
      }

    .main-title h2 {
        font-size: 40px;
        line-height: 36px;
        text-align: center;
    }
 
    .main-title h1 {
        font-size: 50px;
        line-height: 36px;
        text-align: center;
    }

    .main-title p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    
    .section-title {
        font-size: 20px;
        line-height: 36px;
        text-align: center;
     }

    .contents-item {
        width: 100%;
        margin-bottom:20px;
     }
  
    .main-footer {
        width: 100%;
        height: relative;
        background-color:white;
        padding-top: 15px;
        text-align: relative;
     }

     .main-footer p {
        font-weight: bold;
        font-family:"Trattatello";
     }
      
     .main-footer span {
        color:#6eacf4;
        font-size: 24px;
     }
      
     h5 {
        color:palevioletred;
        font-size: 10px;
        padding-bottom: 90px;
     }
      
     table {
        position: relative;
        padding: 1px;
     }
      
     td {
        padding: 1px
     }
      
     .judul {
        font-weight: bold;
        color:teal;
        padding-top: 5px;
        text-align: left;
     }
      
     .main-footer li {
        line-height: auto;
        text-align: left;
        font-size: 8px;
     }
  }
